*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: content-box;}
@font-face {
    font-family:'subtitulo' ;
    src:url('Fontes/Patua_One-Regular.ttf');}
@font-face {
    font-family:'titulo' ;
    src:url('Fontes/Lobster-Regular.ttf');}
:root{
    --cor-fonte:#000000;
    --cor-menu:#3C3535;
    --cor-sombra:#FFFFFF;
    --cor-produto:#0E025B;
    --cor-preço:#5B0101;
    --cor-sobre:#C4C4C4;
    --fonte-Sobre:'texto', arial, sans-serif;
    --fonte:'subtitulo', arial, sans-serif;} 
body{
    font-family:var(--fonte);
    color:var(--cor-preço);
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
header #topo{
    width: 100%;
    height: 9rem;
    position: relative;
}
header #menu > ul{
    width: 100%;
    background:var(--cor-menu);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: var(--fonte);
    text-align: center;
    border-top: 0 ;
    font-family: var(--fonte);
}
header #menu li{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
} 
header #menu a{
    color:var(--cor-sombra);
    text-decoration:none;
    font-weight: normal;
}
.subtitulos{
    background-color: var(--cor-fonte);
    color: #FFFFFF;
    width: 11.25rem;
    height: 1.7rem;
    text-transform: uppercase;
    justify-content: space-between;
    text-align: center;
    margin: 1rem 0rem 1rem 1rem;
    font-family: var(--fonte-Sobre);
}
a{
    text-decoration:none;
    font-weight: normal;
}

#div{
    display: grid;
    grid-template-columns: 28% 70.5% 1fr 1fr;
    grid-template-rows: 48% 1fr;
    grid-template-areas: "trabalho exercicios"
                         "trabalho cortes";
}
#trabalho{
    grid-area:trabalho;
    margin-left: 1rem;
    width: 18.8rem;
    height: 35rem;
}
#exercicios{
    grid-area: exercicios;
    margin:0rem 1rem 0rem 1rem;
    width: 49rem;
    height: 16.9rem;
}
#cortes{
    grid-area: cortes;
    margin:1rem 1rem;
    width: 49rem;
    height: 16.8rem;
}
article{
    display:inline-flex;
    justify-content: space-between;
}
#pomada{
    margin-left:1rem;
    width: 15rem;
    height: 14.65rem;
}
#creme{
    margin: 0rem 1rem 0rem 3rem;
    width: 15rem;
    height: 14.65rem;
}
#perfume{
    margin-left: 2rem;
    width: 15rem;
    height: 14.65rem;
}
#barba{
    margin-left: 3rem;
    width: 15rem;
    height: 14.65rem;
}
#letra-pomada{
    margin-left: 1rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#letra-creme{
    margin-left: 3rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#letra-perfume{
    margin-left: 2rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#letra-barba{
    margin-left: 3rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#preco-pomada{
    margin-left: 1rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
#preco-creme{
    margin-left: 3rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
#preco-perfume{
    margin-left: 2rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
#preco-barba{
    margin-left: 3rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
figure{
    display:inline-flex;
    justify-content: space-between;
    margin: 0rem 1rem;
    width: 21.55rem;
    height: 35rem;
}
.letra-sobre{
   padding: 2rem;
    margin: 0rem 1rem;
    background-color: var(--cor-sobre);
    color: #000000;
    text-align: center;
    font-size: 2rem;
    font-family: var(--fonte-Sobre);
}
footer{
    width:100%;
    height: 4rem;
    background-color: var(--cor-fonte);
    margin-top: 1rem;

}
.container form{
    margin-top: 2rem;
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
}
.formulario{
    margin: 1.5rem 0;

}

.formulario input, .formulario select, .formulario textarea{
    width: 100%;
    padding: 1rem;
}
.formulario input[type=radio]{
    width: initial;
    margin: 0 1rem 0 5rem;
}
.formulario input[type=checkbox]{
    width: initial;
    margin: 0 1rem 0 5rem;
}
.formulario fieldset{
    padding: 2rem;
}