*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: content-box;}
@font-face {
    font-family:'subtitulo' ;
    src:url('Fontes/Patua_One-Regular.ttf');}
@font-face {
    font-family:'titulo' ;
    src:url('Fontes/Lobster-Regular.ttf');}
:root{
    --cor-fonte:#000000;
    --cor-menu:#3C3535;
    --cor-sombra:#FFFFFF;
    --cor-produto:#0E025B;
    --cor-preço:#5B0101;
    --cor-sobre:#C4C4C4;
    --fonte-Sobre:'texto', arial, sans-serif;
    --fonte:'subtitulo', arial, sans-serif;} 
body{
    font-family:var(--fonte);
    color:var(--cor-preço);
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
header #topo{
    width: 100%;
    height: 9rem;
    position: relative;
}
header #menu > ul{
    width: 100%;
    background:var(--cor-menu);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: var(--fonte);
    text-align: center;
    border-top: 0 ;
    font-family: var(--fonte);
}
header #menu li{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
} 
header #menu a{
    color:var(--cor-sombra);
    text-decoration:none;
    font-weight: normal;
}
.subtitulos{
    background-color: var(--cor-fonte);
    color: #FFFFFF;
    width: 11.25rem;
    height: 1.7rem;
    text-transform: uppercase;
    justify-content: space-between;
    text-align: center;
    margin: 1rem 0rem 1rem 1rem;
    font-family: var(--fonte-Sobre);
}
a{
    text-decoration:none;
    font-weight: normal;
}
article{
    display:inline-flex;
    justify-content: space-between;}
#pomada{
    margin-left:1rem;
    width: 15rem;
    height: 14.65rem;
}
#letra-pomada{
    margin-left: 1rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#preco-pomada{
    margin-left: 1rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
#pomada-modeladora-man-alfa{
    margin-left:1rem;
    width: 17rem;
    height: 15rem;
}
#man-alfa{
    margin-left: 1rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#preco-man{
    margin-left: 1rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
#pomada-modeladora-invictus{
    margin-left:1rem;
    width: 17rem;
    height: 15rem;
}
#man-hair{
    margin-left: 1rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#preco-hair{
    margin-left: 1rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
#pomada-modeladora-marrudo{
    margin:0rem 1rem;
    width: 17rem;
    height: 15rem;
}
#barber-shop{
    margin:0rem  1rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#preco-shop{
    margin:0rem 1rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
#perfume{
    margin-left: 2rem;
    width: 15rem;
    height: 14.65rem;
}
#letra-perfume{
    margin-left: 2rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#preco-perfume{
    margin-left: 2rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
#perfume-ferrari{
    margin-left: 2rem;
    width: 15rem;
    height: 14.65rem;
}
#ferrari{
    margin-left: 2rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#preco-ferrari{
    margin-left: 2rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
#perfume-million{
    margin-left: 2rem;
    width: 15rem;
    height: 14.65rem;
}
#um{
    margin-left: 2rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#preco-um{
    margin-left: 2rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
#perfume-lambor{
    margin-left: 2rem;
    width: 15rem;
    height: 14.65rem;
}
#lambor{
    margin-left: 2rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-produto);
    padding-left: 0.5rem;
}
#preco-lambor{
    margin-left: 2rem;
    width: 14.6rem;
    background-color: #FFFFFF;
    color: var(--cor-preço);
    padding-left: 0.5rem;
}
footer{
    width:100%;
    height: 4rem;
    background-color: var(--cor-fonte);
    margin-top: 1rem;

}